<style>
.pages a,.pages span {
    display:inline-block;
    padding:6px 9px;
    margin:0 4px;
    border:1px solid #D5D4D4;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius: 2.5px;
}
.pages a,.pages li {
    display:inline-block;
    list-style: none;
    text-decoration:none; 
    color:black;
}

.pages a:hover{
    border-color:#48c9b0;
}
.pages span.current{
    background:#48c9b0;
    color:#FFF;
    font-weight:700;
    border-color:#48c9b0;
}

.long-tr th{
	text-align: center
}
.long-td td{
	text-align: center
}

</style>
