.articleList,.articleDetail{
	margin:30px auto 0;
}
.article{
	margin-bottom:30px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.articleHeader{
	position: relative;
	padding:15px 0;
}
.articleHeader span{
	position: absolute;
	display:inline-block;
	padding:6px;
	text-align: center;
	color:#fff;
	top:20px;
	right:-10px;
	box-shadow:0 1px 2px rgba(0,0,0,.3);
}
.articleHeader span:after{
	position:absolute;
	content:"";
	top:30px;
	right:0;
	border-bottom:10px solid transparent;
	border-left:10px solid #3c9;
}
.articleHeader span i{
	margin-right:5px;
}
.articleHeader .tag-Div {
	background: #6c9;/*main-color*/
}
.articleHeader .cate-Div {
	background: #6c9;/*main-color*/
}
.articleTitle a{
	display: block;
	padding:7px 0 7px 15px;
	color:#444;
	font-size:18px;
	border-left:4px solid #6c9;/*main-color*/
	line-height: 1.5em;
}
.articleTitle a:hover{
	color:#6c9;/*main-color*/
}
.articleBody{
	position: relative;
	padding:15px;
	background: #f9f9f9;
	border-top:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
	color:#4d4d4d;
}
.articleThumb{
	float:left;
	width:300px;
	height: 150px;
	overflow:hidden;
}
.articleThumb img{
	width:100%;
	height:150px;
	transition:0.5s all;
	-moz-transition:0.5s all ;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
}
.articleThumb img:hover{
	transform:scale(1.5);
	-ms-transform:scale(1.5);
	-moz-transform:scale(1.5);
	-webkit-transform:scale(1.5);
	-o-transform:scale(1.5);
}
.articleFeed{
	margin-left: 320px;
}
.articleFeed p{
	font-size:16px;
	line-height:1.7em;
}
.articleTags{
	position:absolute;
	left:335px;
	bottom:15px;
}
.articleTags ul a{
	display:inline-block;
	margin-right:5px;
	padding:2px 5px;
	border:1px solid #6c9;/*main-color*/
	font-size:12px;
	color:#6c9;
	cursor:pointer;

}
.articleTags ul a:hover{
	background:#6c9;/*main-color*/
	color:#fff;
}
.articleFooter{
	padding:15px;
}
.articleStatu{
	float:left;
	margin-top:3px;
	height:25px;
	line-height: 25px;
	
}
.articleStatu li{
	display:inline-block;
	margin-right:20px;
	color:#999;
	font-size:13px;
}
.articleStatu li a{
	color:#999;
}
.articleStatu li i{
	margin-right:5px;
	color:#999;
}

.btn-readmore{
	float:right;
	padding:8px 20px;
	border:0;
	border-radius:5px;
	background:#6c9;/*main-color*/
	box-shadow: 0 3px 10px rgba(0,0,0,0.06), 0 3px 10px rgba(0,0,0,0.13);
	transition:all .1s;
}
.btn-readmore:hover{
	background:#6c9;/*main-color*/
	opacity:.8;
	box-shadow: 0 4px 10px rgba(0,0,0,0.09), 0 4px 10px rgba(0,0,0,0.17);
}
.pageNav nav{
	background:#fff;
	box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);
}
.pagination{
	margin:15px 0 10px 15px;
	overflow: hidden;
	border-radius:0;
}
.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span{
	border-radius:0;
}
.pagination *{
	transition-duration: 0s!important;
}
.pagination li{
	position: relative;
	float:left;
	margin:3px 5px 7px 0;
}
.pagination>li a,.pagination>li span{
	background:#f1f1f1;
	color:#666;
	border:0;
}
.pagination>li a:hover,.pagination>li span:hover{
	color:#fff;
	background:#6c9;/*main-color*/
}
.pagination>li span.current{
	color:#fff;
	background:#6c9;/*main-color*/
}
/*
article-detail
*/
.articleDetail{
}
.articleImgBox{
	margin-bottom:15px;
	padding:15px 0;
	text-align: center;
}
.articleImgBox img{
	margin:15px auto;
	width:80%;
	max-width: 100%;
	height:auto;
}
.articleContent{
	padding:15px 30px;
	font-size:15px;
	line-height: 1.8em;
	background: #fff;
	box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);
}
.articleContent .title{
	text-align:center;
	font:500 26px "Microsoft Yahei";
	color:#555;
}
.secTitleBar{
	padding:15px 0;
	text-align:center;
}
.secTitleBar ul li{
	display: inline-block;
	margin:0 20px;
	font-size:13px;
	color:#999;
}
.secTitleBar ul li a{
	color:#999;
}
.secTitleBar ul li a:hover{
	color:#6c9;/*main-color*/
}
.articleCon img{
	max-width: 100%;
	width:100%;
	height:75%;
	margin:0 auto;
	text-align: center;
	border:0;
}
.articleCon h1,
.articleCon h2,
.articleCon h3,
.articleCon h4,
.articleCon h5,
.articleCon h6{
	margin:5px 0;
	padding:10px 0;
	border-bottom:1px solid #e8e8e8;
	color:#555;
}
.articleCon h1{font-size:1.5em;}
.articleCon h2{font-size:1.4em;}
.articleCon h3{font-size:1.3em;}
.articleCon h4{font-size:1.2em;}
.articleCon h5{font-size:1.1em;}
.articleCon h6{font-size:1em;} 
.articleCon p{
	margin:15px 0;
	color:#555;
}
.articleCon{
	/*padding-bottom:30px;*/
	/*border-bottom:1px solid #e8e8e8;;*/
}
.articleTagsBox{
	margin:30px 0;
}
.articleTagsBox ul a{
	display:inline-block;
	padding:2px 8px;
	background: #ededed;
	color:#838383;
	font-size:13px;
}
.articleTagsBox ul a:hover{
	background: #6c9;/*main-color*/
	color:#fff;
}
/*
footer
*/
.main-footer {
  background: rgba(255,255,255,.7);
  margin-top:30px;
  padding-top:15px;
  color: #333;
}
.footrow{
	padding-bottom:15px;
}
.widget{
	position:relative;
}
.widget .title{
	position: relative;
	display: inline-block;
	margin:0 0 10px;
	padding:10px 0;
	font-size:15px;
	color:#424242;
	letter-spacing: 2px;
}
.widget .box li{
	float:left;
	margin:0 8px 10px 0;
	list-style:none;
}
.widget .box li a{
	display:block;
	font-size:12px;
	padding:2px 7px;
	border:1px solid #e8e8e8;
}
.widget .box{
}
.widget .box a,.contact-us li a{
	color:#a4a4a4;
}
.widget .box a:hover{
	border:1px solid #6c9;/*main-color*/
	color:#6c9;/*main-color*/
}
.widget .box a:hover,.copyright a:hover{
	text-decoration:none;
}
.contact-us{
	margin-top:-8px;
	padding-top:0;
}
.contact-us i{
	margin-right:8px;
}
.contact-us li{
	line-height:2.5em;
	list-style:none;
}
.contact-us li a:hover{
	color:#6c9;/*main-color*/
}
.copyright {
	font-size: 13px;
	text-align: center;
	color: #999;
	padding-top: 28px;
	padding-bottom: 28px;
	border-top: 1px solid #f1f1f1;
}
.copyright span {
  margin: 0 .5em;
}
.copyright a {
  color: #999;
}
.copyright a:hover{
	color:#6c9;/*main-color*/
}
.copyright  a.kefu{
	display: inline-block;
	margin-top:-10px;
	background: #6c9;/*main-color*/
	color:#fff;
	padding:10px 20px;
	letter-spacing: 2px;
	box-shadow: 0 3px 10px rgba(0,0,0,0.06), 0 3px 10px rgba(0,0,0,0.13);
}
.copyright  a.kefu i{
	margin-right:8px;
}
.copyright a.kefu:hover{
	background: #6c9;/*main-color*/
	opacity:.8;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
/*
media query
*/
/*ipad横屏模式以上显示器*/
@media (max-width: 1025px) {
	.mobile-menuicon,.to-top,.icon-search{
		right:10px;
	}
	.menubox ul{
		margin-top:30px;
	}
	.toptext{
		display: none;
	}
}
/*大于我文章宽度的桌面显示器（横屏的Ipad也在内）*/
@media only screen and (min-width: 961px) {
	.container{
		width:960px;
	}
	.menubox ul{
		margin-top:60px;
	}
}
@media (min-width: 768px) and (max-width: 960px) {
	.articleFeed p{
		font-size:14px;
		line-height:1.6em;
	}
	.moodFeed p{
		font-size: 14px;
		line-height: 1.6em;
	}
	
}
@media only screen and (max-width: 767px) {
	.container{
		width:100%;
		padding:0 7px;
	}
	.banner,.banner > img{
		width:100%;
		height:150px;
	}
	.header{
		width:300px;
		padding-top:15px;
	}
	.logo,.logo img{
		width:80px;
		height:80px;
	}
	.logoTheme h1{
		margin:8px 0;
		font-size:18px;
		font-weight:100;
	}
	.article{
		margin-bottom:15px;
	}
	.articleBody{
		padding:10px;
	}
	.articleFeed{
		margin:0;
		height:150px;
		font-size:15px;
		overflow: hidden;
		text-overflow:ellipsis;
	}
	.articleFeed p{
		font-size:15px;
		line-height:1.6em;
	}
	.articleTags{
		display:none;
	}
	.articleFooter{
		padding:5px 10px;
	}
	.main-footer{
		margin-top: 10px;
	}
	.pagination{
		overflow: hidden;
		margin:7px 5px 0;
		text-align: center;
	}
	.copyright{
		text-align: center;
	}
	.articleHeader span{
		padding:2px 8px;
		font-size:13px;
		width:auto;
		top:20px;
	}
	.articleCon img{
		max-width:100%;
		height:auto;
	}
	.articleContent .title{
		font-size:20px;
		font-weight:600;
		color:#555;
		text-align: center;
	}
	.logoTheme h3,
	.articleThumb,
	.articleStatu li:nth-child(1),
	.articleStatu li:nth-child(3),
	.copyright span:nth-child(2){
		display: none;
	}
	.cate-Div{
		display:none!important;
	}
	.downBox ul li a{
		padding:0;
		font-weight: normal;
	}
	.error404{
		background: url('images/m404.jpg') no-repeat center center;
	}
	.mood{
		margin-bottom:15px;
	}
	.moodBody{
		padding:10px;
	}
	.moodFeed{
		margin:0;
		height:150px;
		font-size:15px;
		overflow: hidden;
		text-overflow:ellipsis;
	}
	.moodFeed p{
		font-size:15px;
		line-height:1.6em;
	}
	.moodFooter{
		padding:5px 10px;
	}
	.moodThumb,
	.moodStatu li:nth-child(1),
	.moodStatu li:nth-child(3){
		display: none;
	}
}
/*
手机
*/
@media only screen and (max-width: 481px) {
	.articleContent{
		padding:15px 5px;
	}
	.secTitleBar ul li{
		margin:0 10px 0 0;
	}
	.secTitleBar ul li:nth-child(2){
		display:none;
	}
	.tagbox,
	.linkbox{
		display:none;
	}
	.downBox ul li a{
		font-size: 14px;
		line-height:50px;
	}
	.downBox ul li a i{
		font-size: 20px;
	}
	.menu-close{
		top:-15px;
		right:0px;
	}
	.menubox ul{
		margin-top:15px;
	}
	.menubox ul li{
		margin:0;
	}
	.menubox ul li a{
		font-size: 14px;
	}
	.icon-search{
		bottom:180px;
	}
	.mobile-menuicon{
		bottom:130px;
	}
	.to-top{
		bottom:80px;
	}
	.widget{
		margin-left:8px;
	}
	.widget .title{
		margin:0;
	}
	.copyright{
		padding:20px 0;
	}
	.commentform-info label{
		width:100%;
	}
	.commentform-info input{
		width:100%;
	}
	.search-form{
		width:92%;
		left:0;
		margin-left:3%;
	}
	.search-field{
		width:210px;
	}
}
@media only screen and (max-width: 321px) {
	.search-field{
		width:150px;
	}
}

.moodList {
	margin: 30px auto 0;
}
.mood {
	margin-bottom: 30px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.moodBody {
	position: relative;
	
	background: #f9f9f9;

}
.moodThumb{	
	width:100%;
	height: 260px;
	overflow:hidden;
}
.moodThumb img{
	width:100%;
	height:260px;
	transition:0.5s all;
	-moz-transition:0.5s all ;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
}
.moodFeed{
	padding: 20px;
}
.moodFeed p{
	font-size: 16px;
	line-height: 1.7em
}
.moodFooter{
	padding:10px;
}
.moodStatu{
	float:left;
	margin-top:3px;
	height:25px;
	line-height: 25px;
	
}
.moodStatu li{
	display:inline-block;
	margin-right:20px;
	color:#999;
	font-size:13px;
}
.moodStatu li a{
	color:#999;
}
.moodStatu li i{
	margin-right:5px;
	color:#999;
}

/*
about.html
 */

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

.cd-timeline-content {
  font-size: 29px;
  color: #7f8c97;
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block .cd-timeline-content h2 {
  font-size: 19px;
  color: #303e49;
}
.cd-timeline-block .cd-timeline-content p, .cd-timeline-block .cd-timeline-content .cd-date{
	font-size: 15px;
}
.cd-timeline-content p,
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;  
}
a.cd-read-more:hover{text-decoration:none; background-color: #424242;  }
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
/*
about-end
*/
.liuyanList {
	margin: 30px auto 0;
}
.liuyanList .liuyan-title {
	padding: 20px;
	margin-bottom:30px;
	background: #fff;
	border-radius: 10px;
}
.liuyanList .liuyan-title p{
	font-size: 19px;
	line-height: 1.7em;
}
.liuyan-count {
	padding: 30px;
	background: #fff;
	margin-bottom: 30px;
	border-left: 4px solid #6c9;
}
.liuyan-count h1{
	font-weight: bold;
	letter-spacing: 3px;
}
.lists {
	background: #fff;
}
.lists .liuyan {
	padding: 0px;
}
.lists .liuyan .liuyanFeed {
	padding-top: 10px;
	padding-left: 10px;
}
.liuyan-form {
	margin: 30px auto 0;
}
.liuyan-form .formSingle {
	margin-top: 10px;
	margin-bottom: 10px;
}

